/* Global */

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #E8EAF6;
    font-size: 12px;
    color: #222222;
}

@media screen and (min-width: 48em) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 80em) {
    html {
        font-size: 18px;
    }
}

body {
    animation-duration: 1s;
}

canvas {
    margin-bottom: -5px;
}

/* Utilities */
.center {
    margin: auto 0;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

/* Buttons */
.button-primary, .button-secondary, .button-success, .button-warning, .button-error {
    color: white;
}

.button-primary {
    background-color: #9AC9E7;
}

.button-secondary {
    background-color: #9FA8DA;
}

.button-success {
    background-color: #B2DFDB;
}

.button-warning {
    background-color: #FFCC80
}

.button-error {
    background-color: #EF9A9A
}

.text-primary {
    color: #64B5F6;
}

.text-secondary {
    color: #9575CD;
}

.text-success {
    color: #4DB6AC;
}

.text-warning {
    color: #FFB74D;
}

.text-error {
    color: #E57373
}

/* Navigator */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 5rem;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
}

nav>* {
    margin: auto 1rem;
}

.nav-heading {
    font-size: 2rem;
    flex-grow: 1;
}

/* Card */
.card {
    background: white;
    border-radius: 2px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1.hoverable:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-2.hoverable:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-footer {
    margin: 0.5rem 1rem;
    display: flex;
}

.card-footer>* {
    margin: auto 0.1rem;
}

.card-title {
    font-size: 1.5rem;
    flex-grow: 1;
}

.avatar {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

/* Preloader */
.preloader-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 23333;
}

.preloader {
    height: 100px;
    width: 100px;
    animation: spin 2s cubic-bezier(0.8, 0.1, 0.23, 0.93) infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.preloader::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #90CAF9;
    transform: translateX(11px) translateY(11px)
}

.preloader::after {
    content: "";
    display: block;
    border: 3px solid #FCE4EC;
    border-radius: 50%;
    height: 94px;
    width: 94px;
}

.preloader-text {
    margin-top: 1rem;
    color: #C5CAE9;
    font-style: oblique;
}

.game-card-container {
    display: flex;
    margin: 1rem;
    justify-content: flex-start;
}

.game-card {
    margin: 1rem;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
}

.game-wrapper {
    margin-top: 1rem;
    text-align: center;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.control-panel>* {
    animation: 1s fadeIn;
    width: 10rem;
    margin: 0.5rem 0;
}

.control-panel-title {
    margin-bottom: 3rem;
}

/* Shade */
.shade-conatiner {
    display: inline-block;
    transform: scale(1);
}

.shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.75;
}
