@import "../node_modules/material-colors/dist/colors.sass";

.wrapper {
  position: relative;
  display: table;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Experimental feature, Not supported by Firefox yet */
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.5);
}

.panelItem {
  /* Override material-ui*/
  position: absolute !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  @extend .panelItem;
  color: $md-blue-700;
  top: 10%;
}

.score {
  @extend .panelItem;
  color: $md-green-700;
  top: 30%;
}

.actionFirst {
  @extend .panelItem;
  top: 60%;
}

.actionSecond {
  @extend .panelItem;
  top: 70%;
}

/* https://stackoverflow.com/questions/9878090 */
.canvas {
  display: block;
}
